.events-list-page{
  background: #F6FBF9;
  padding: 60px 0 45px 0;
}

.event {
  flex-wrap: wrap;
  justify-content: space-between;
  border-bottom: 1px solid lightgray;
  padding: 12px 0;
  margin: 8px auto;
}
