<div class="header">
  <div class="menu">
    <ul (click)="clearLocalStorage()">
      <li><a [routerLink]="['/dashboard']" routerLinkActive="active">Dashboard</a></li>
      <li><a [routerLink]="['/calendar']" routerLinkActive="active">Calendar</a></li>
      <li><a [routerLink]="['/hotels']" routerLinkActive="active">Hotels</a></li>
      <li><a [routerLink]="['/create-events']" routerLinkActive="active">My events</a></li>
      <li><a [routerLink]="['/notes']" routerLinkActive="active">Notes</a></li>
      <li><a [routerLink]="['/messages']" routerLinkActive="active">Messages</a></li>
      <li><a [routerLink]="['/account']" routerLinkActive="active">My account</a></li>
    </ul>
  </div>
</div>
